.places__paragraph {
    grid-area: paragraph;
}

@media screen and (max-width:704px){
    .places__paragraph {
        margin: 0 32px;
    }
}

@media screen and (max-width: 320px){
    .places__paragraph {
        margin: 0 16px;
    }
}