.page {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    min-width: 320px;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}