.photo-grid {
    display: grid;
    margin: 92px 48px 0;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-content: center;
    grid-gap: 16px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 92px 24px 0;
    }
}

@media screen and (max-width: 320px){
    .photo-grid {
      gap: 12px;
      margin: 92px 16px 0;
    }
}