.places {
    max-width: 984px;
    margin: 92px auto;
    display: grid;
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px auto;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 64px auto 66px;
    }
}
