.page {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    background-color: #2A2C2F;
    font-family: 'Inter';
}

.header {
    display: flex;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto;
    padding: 28px 48px 0;
    justify-content: space-between;
}

.header__logo {
    /* background-image: url(./Images/header-logo.svg); */
    width: 176px;
    height: 52px; 
    object-fit: contain;
}

.header__links {
    display: flex;
}

.header__lang-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    margin-top: 18px;
}

.header__lang-link_ru {
    text-decoration: underline;
}

.header__lang-link:last-child {
    margin-right: 0;
}

.lead {
    max-width: 984px;
    margin: 56px auto 0;
}

.section__title {
    font-size: 96px;
    max-width: 720px;
    line-height: 100px;
    font-weight: 900;
    color: white;
    margin: 0 auto 32px;
    text-align: center;
}

.section__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.lead__image {
    margin: 64px auto 0;
    width: 100%;
    object-fit: scale-down;
    object-position: center;
}

.lead__caption {
    font-size: 10px;
    line-height: 14px;
    color: white;
    font-style: normal;
    margin: 8px 0 0 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    margin: 92px auto 0;
    max-width: 984px;
}

.intro__container {
    max-width: 690px;
}

.intro__title {
    color: white;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px;
}

.intro__text {
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0 0 33px;
}

.intro__list {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.photo-grid {
    display: grid;
    margin: 92px 48px 0;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
    /* grid-template-rows: repeat(3, 1fr);  */
    justify-content: center;
    grid-gap: 16px;
    overflow: hidden;
}

.photo-grid__item {
    object-fit: cover;
    width: 100%;
}

.places {
    max-width: 984px;
    margin: 92px auto;
}

.places__place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 0 80px;
    grid-template-areas:
    "title website ."
    "image paragraph paragraph"
    "image paragraph paragraph"
}

.places__place:last-child {
    margin-bottom: 0;
}

.places__title {
    font-weight: 900;
    grid-area: title;
    font-size: 72px;
    line-height: 76px;
    color: white;
    margin: 0 0 48px;
    align-self: end;
}

.places__image {
    max-width: 460px;
    margin-right: 40px;
    grid-area: image;
}

.places__website {
    grid-area: website;
    display: grid;
    align-content: end;
    margin-bottom: 48px;
}

.places__url {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: grey;
    margin: 0 0 12px;
}

.places__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
}

.places__paragraph {
    grid-area: paragraph;
}

.places__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0 0 26px;
}

.cover {
    max-width: 1184px;
    margin: 0 auto 92px;
    position: relative;
}

.cover__background-link {
    display: flex;
    position: relative;
    text-decoration: none;
    margin: 0 auto;
    color: white;
    background-image: url(./Images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    min-height: 740px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease;
}

.cover__background-link:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #2a2c2f;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.cover__background-link:hover:before {
    opacity: 0.4;
}


.cover__title {
    position: relative;
    margin: 0 0 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
}

.cover__subtitle {
    position: relative;
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
}

.footer {
    display: flex;
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 24px;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.footer__link {
    list-style: none;
}

.page__link {
    text-decoration: none;
    color: white;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
}

.footer__copyright {
    color: white;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

  @media screen and (max-width: 1024px) {
    .lead {
        margin: 56px 48px 0;
      }

    .lead__image {
        margin: 56px auto 0;
    }
    .intro {
        margin: 92px 286px 0 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
    .lead {
        margin: 56px 0 0;
    }
    .lead__image {
        margin: 56px 0 0;
    }
    .lead__caption {
        margin-left: 24px;
      }
    .section__title {
        font-size: calc(100vw / 8);
        line-height: calc(100vw / 7);
    }
    .section__subtitle {
        width: 100%;
        font-size: calc(100vw / 20);
        line-height: calc(100vw / 16);
    }
    .intro {
        margin: 92px 24px 0;
      }
    .photo-grid {
        margin: 92px 24px 0;
    }
}

  @media screen and (max-width: 320px){
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
    .header__logo {
        max-width: 142px;
        max-height: 42px;
      }
    .header__lang-list {
        align-items: center;
     }

     .section__title{
        font-size: 40px;
        line-height: 44px;
     }
     .section__subtitle {
        font-size: 16px;
        line-height: 20px;
     }
     .lead__caption {
        margin-left: 16px;
      }
      .intro {
        margin: 64px 16px 0;
        max-width: 288px;
      }
      .intro__title {
        font-size: 32px;
        line-height: 35px;
      }
      .photo-grid {
        gap: 12px;
        margin: 92px 16px 0;
      }
  }