.places__image {
    max-width: 460px;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .places__image {
       max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width:704px){
    .places__image {
        max-width: 320px;
        margin: 0;
    }
}