.places__title {
    font-weight: 900;
    grid-area: title;
    font-size: 72px;
    line-height: 76px;
    color: white;
    margin: 0 0 8px;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .places__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .places__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 704px) {
    .places__title {
        align-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .places__title {
       justify-self: start;
      font-size: 32px;
      line-height: 35px;
      margin: 0 16px;
    }
}