.cover__subtitle {
    position: relative;
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: calc(100vw / 42.6);
        line-height: calc(100vw / 43.9);
    }
}

@media screen and (max-width:640px){
    .cover__subtitle {
        max-width: 288px;
        font-size: calc(100vw / 42.2);
        line-height: calc(100vw / 43.5);
    }
}

@media screen and (max-width: 320px){
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
    }
}