.places__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0 0 26px;
}

@media screen and (max-width: 768px) {
    .places__text {
        font-size: 16px;
    }
}