.places__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: white;
    margin: 0 0 26px;
}

.places__text:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .places__text {
        font-size: 16px;
        margin: 0 0 25px;
    }
}