.footer__link {
    text-decoration: none;
    color: white;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width:640px){
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
}