.lead__title {
    font-size: 96px;
    max-width: 720px;
    line-height: 100px;
    font-weight: 900;
    color: white;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .lead__title {
        font-size: 88px;
    }
}

@media screen and (max-width: 640px) {
    .lead__title {
        font-size: calc(100vw / 8);
        line-height: calc(86vw / 7);
    }
}

@media screen and (max-width: 320px){
    .lead__title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}