.lead__title {
    font-size: 96px;
    max-width: 720px;
    line-height: 100px;
    font-weight: 900;
    color: white;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        /* font-size: calc(100vw / 8);
        line-height: calc(86vw / 7); */
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
       font-size: 40px;
       line-height: 44px;
    }
}