.footer__links {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width:640px){
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
        min-height: 250px;
    }
}