.footer__copyright {
    color: white;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width:640px){
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }
}