.lead__image {
    margin: 64px auto 0;
    width: 100%;
    object-fit: scale-down;
    object-position: center;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin: 56px 0 0;
    }
}