.intro {
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 286px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 92px 24px 0;
    }
}

@media screen and (max-width: 320px){
    .intro {
      margin: 64px 16px 0;
      max-width: 288px;
    }
}