.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        /* font-size: calc(78vw / 20);
        line-height: calc(83vw / 16); */
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle {
       font-size: 16px;
       line-height: 20px;
    }
}
