.lead__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        width: 100%;
        font-size: calc(100vw / 20);
        line-height: calc(100vw / 16);
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle {
       font-size: 16px;
       line-height: 20px;
    }
}
