.places__place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    margin: 0 0 80px;
    grid-gap: 40px;
    grid-template-areas:
    "title website ."
    "image paragraph paragraph"
    "image paragraph paragraph";
}

.places__place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .places__place {
        grid-template-columns: 440px 1fr 1fr;
        column-gap: 32px;
        margin: 0 48px 80px;
    }
}   

@media screen and (max-width: 890px) {
    .places__place {
        grid-template-columns: 380px 1fr 1fr;
    }
}   


@media screen and (max-width: 768px) {
    .places__place {
        /* grid-template-columns: 340px 1fr 1fr; */
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin: 0 24px 73px;
    }
}


@media screen and (max-width:704px){
    .places__place {
        grid-template-columns: minmax(min-content,max-content);
        justify-items: center;
        align-items: center;
        margin: 0 0 50px;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph";
    }
}

@media screen and (max-width: 320px){
    .places__place {
        row-gap: 32px;
    }
}