.footer {
    display: flex;
    max-width: 1184px;
    margin: 0 48px;
    padding-bottom: 24px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 92px 24px 0;
    }
}

@media screen and (max-width:640px){
    .footer {
        flex-direction: column;
        justify-content: space-between;
        min-height: 310px;
    }
}