.places__website {
    grid-area: website;
    display: grid;
    align-content: end;
    margin-bottom: 8px;
}

@media screen and (max-width:640px){
    .places__website {
        align-self: start;
    }
}

@media screen and (max-width: 320px){
    .places__website {
        margin: 0 16px;
      width: calc(100vw - 32px);
    }
}