.places__website {
    grid-area: website;
    display: grid;
    align-content: end;
    margin-bottom: 8px;
    max-width: 456px;
}

/* @media screen and (max-width: 768px){
    .places__website {
         width: 180px;
    }
} */

@media screen and (max-width: 320px){
    .places__website {
        margin: 0 16px;
        justify-self: start;
        width: calc(100vw - 32px);
    }
}